<button class="btn" id="viewRecipes" onclick="(window.location='/recipe')">View Recipes</button>

{{#each dates as |date| }}
<div class="card">
  <div class="card card-header">
    <h2 class=""> Date: {{date.month}}/{{date.day}}</h2>
    <h5> Weekday: {{date.weekday}}</h5>
  </div>
</div>
{{/each}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Data Dish</title>
    <link rel="stylesheet" href="/public/css/style.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,700;1,100&display=swap" rel="stylesheet"/>
</head>
<body>
    <div class="day-of-week">
        <div class="left">
            <ul class="weekday">sunday
                <button id="add-button">+</button>
            </ul>
            <ul class="weekday">monday
                <button id="add-button">+</button>
            </ul>
            <ul class="weekday">tuesday
                <button id="add-button">+</button>
            </ul>
            <ul class="weekday">wednesday
                <button id="add-button">+</button>
            </ul>
            <ul class="weekday">thursday
                <button id="add-button">+</button>
            </ul>
            <ul class="weekday">friday
                <button id="add-button">+</button>
            </ul>
            <ul class="weekday">saturday
                <button id="add-button">+</button>
            </ul>
        </div>
    </div>
</body>
</html>