<!DOCTYPE html>
<html>
<head>
    <title>New Recipe</title>
    <script src="/js/newRecipe.js" defer></script>
</head>
<body>
    
    <h2>New Recipe</h2>
    <form id="newRecipeForm">
        
        <div id="name-servingInput">
            <div id="nameInput">
                <label for="recipeName">Recipe Name:</label>
                <input type="text" id="recipeName" name="recipeName" required>
            </div>
            <div id="servingInput">
                <label for="servingSize">Serving Size:</label>
                <input type="text" id="servingSize" name="servingSize" required>
            </div>
        </div>
        <div id="ingredients">
            <div class="ingredient">
                <div id="ingredientInput" >
                    <label for="ingredients[]">Ingredient Name:</label>
                    <input type="text" name="ingredients[]" required>
                </div>
                <div id="quantity-unit">
                    <div id="quantityInput" >
                        <label for="amount[]">Quantity:</label>
                        <input type="text" name="amount[]"required>
                    </div>
                    <div id="unitInput">
                        <label for="unit[]">Unit:</label>
                        <select name="unit[]">
                            <option value="G">G</option>
                            <option value="KG">KG</option>
                            <option value="ML">ML</option>
                            <option value="L">L</option>
                            <option value="TSP">TSP</option>
                            <option value="TBSP">TBSP</option>
                            <option value="CUP">CUP</option>
                            <option value="OZ">OZ</option>
                            <option value="LB">LB</option>
                            <option value="EACH">EACH</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <button id="submitButton" type="submit">Save Recipe</button>
        <button type="button" onclick="addIngredientField()">Add Ingredient</button>

    </form>
</body>
</html>