<!DOCTYPE html>
<html>
<head>
    <title>Recipes</title>
</head>
<body>
    <h2>Recipes</h2>
    <ul>
        {{#each recipes}}
        <li>
            <p>Name: {{this.name}}</p>
            <p>Serving Size: {{this.servingSize}}</p>
            <form action="/recipe/{{this.name}}" method="get">
                <button type="submit">View Recipe</button>
            </form>
        </li>
        {{/each}}
    </ul>
</body>
</html>